.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #f20891;
}

table {
  color: #621080;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #e7d9e8;
  
}

.header-row {
    background: #8e0883;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}